
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: grey;
    background-size: cover;

}

.form__border{
 
    background-color: rgba(225,225,225,0.34);
    box-shadow: 0px 8px 32x 0 rgba(0, 0, 225, 0.3);
    backdrop-filter: blur(3px);
    padding: 0px 16px 16px 16px;
    border-radius: 16px;
}
