.rating{
    position: relative;
}

.ratingNumber{
    margin-left: 5%;
    position: absolute;
    top: 8%;
    font-size: larger;
}
.items:hover{
    border: 1px solid blue;
    border-radius: 2%;
   height: 280px;
   
}
.guide__tilte{
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
    margin-left: 18px;
}
.comment{
    width: 100%;
    margin-left: 2%;
    margin-top: 2%;
}

.scroll__bar{
    overflow-y: scroll;
    height: 180px;
   
}

@media screen and (max-width: 400px) {
    .comment{
        width: 70%;
    }
    
}

@media screen and (min-width: 400px) and (max-width: 800px){
    .comment{
        width: 80%;
        /* margin-left: 15%; */
    }
    
}