.container {
  margin: 10px 0px 0px 0px;
  font-size: larger;
  display: inline;
  position: relative;
}

.listTop {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.listTopItem1 {
  margin-left: 2%;
  display: flex;
  align-items: center;
}

.listTopItem2 {
  margin-right: 2%;
  display: flex;
  align-items: center;
}

.listTopItem1:hover,
.listTopItem2:hover {
  color: rgb(60, 197, 197);
  cursor: pointer;
}

.listTopIcon {
  margin-right: 10%;
  margin-left: 10%;
  font-style: oblique;
  color: rgb(66, 66, 226);
  font-size: 30px;
}

.listTopIcon:hover {
  cursor: pointer;
}

.list {
  margin-top: 30px;
  height: fit-content;
}

.itemList {
  margin-right: 70px;
}

.itemList:hover {
  color: rgb(60, 197, 197);
  cursor: pointer;
}

.subMenu {
  /* position: absolute; */
  /* top: 200px; */
  left: 100px;
}

.itemfind {
  height: 25px;
  width: 230px;
  border: 2px solid black;
  border-radius: 10px;
}

.itemIcon {
  
  width: 25px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.itemList:hover .subMenu {
  display: flex;
  justify-content: left;
  width: 140px;
  margin-left: 40px;
}

.menuAnt {
  display: flex;
  justify-content: center;
}
.icon{
  display: inline-block; /* Hiển thị trên cùng một hàng */
  vertical-align: middle; /* Căn giữa dọc */
}
.length{
  width: 40%;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .container{
    margin: 15px 0px;
    font-size: larger;
    display: inline;
    position: relative;
  }

  .listTop {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  .listTopItem1 {
    margin-left: 12%;
    display: flex;
    font-size: 12px;
  }

  .listTopItem2 {
    margin-right: 12%;
    display: flex;
    font-size: 12px;
  }

  .listTopIcon {
    margin-right: 3%;
    margin-left: 3%;
    font-style: oblique;
    color: blue;
    font-size: 20px;
  }

  .items{
    display: none;
  }
  .length{
    width: 80%;
  }
}